body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

div, p, input, button, form, a, ul, li {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, a, button, span {
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    margin: 0;
}

p {
    line-height: 1.76em;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    background-color: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 55px;
    padding-bottom: 100px;
    color: #fff;
    
}

.logo {
    padding-left: 30px;
}

.wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.offer {
    padding-left: 30px;
}

.title {
    font-size: 37px;
    padding-bottom: 70px;
    margin-right: 0;
    width: 620px;
}

.intro {
    font-size: 16px;
    padding-bottom: 40px;
    width: 450px;
}

.dream {
    font-size: 59px;
}

.desktop {
    overflow: hidden;
    width: 100%;
}

.btn {
    background: #ffd429;
    color: #000;
    width: 222px;    
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    transition: all 0.5s ease;
    border: none;
}

.btn:hover {
    background: #D9B00C;
}

.future {
    padding-top: 100px;
    padding-bottom: 120px;
}

.section2-tittle {
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantage-title {
    font-size: 19px;
    padding-top: 90px;
    text-align: center;
}

.advantage-text {
    font-size: 15px;
    padding-top: 10px;  
    font-weight: 400;
}

.advantage-1 {
    padding-left: 10px;
    width: 300px;
    text-align: center;
    background: url('../img/icon1.jpg') no-repeat top center;
}

.advantage-2 {
    width: 305px;
    text-align: center;
    background: url('../img/icon2.jpg') no-repeat top center;
}

.advantage-3 {
    width: 295px;
    text-align: center;
    background: url('../img/icon3.jpg') no-repeat top center;
}

.form {
    background: #ECF3F8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-title {
    padding-bottom: 60px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.form-dream {
    max-width: 340px;
    width: 80%;
    margin: 0 auto;
}

.input {
    width: 100%;
    height: 48px;
    border: 1px solid #BBBBBB;
    padding-left: 15px;
    margin-bottom: 10px;
}

.btn2 {
    width: 100%;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #164D7A;
    color: #fff;

}

.copyright {
    max-width: 540px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.animated {
    opacity: 0;
}




/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .header{
        padding-bottom: 50px;
    }

    .title  {
        width: 90%;
        padding: 15px 0px 50px 0px;
    }
    .intro {
        width: 300px;
        padding-bottom: 5%;
    }

    .logo, .offer {
        padding-left: 30px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {

    .container {
        width: 100%;
    }

    .logo {
        display: block;
        margin: 0 auto;
    }

    .wrapper {
        flex-direction: column;
    }

    .offer {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .title {
        width: 100%;
        display: block;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .intro {
        width: 60%;
        display: block;
        margin: 0 auto;
    }

    .btn {
        margin: 0 auto;
    }

    .desktop {
        width: 70%;
    }

    .advantage-text {
        margin: 0 auto;
        width: 72%;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .desktop {
        width: 80%;
    }

    .intro {
        width: 80%;
        display: block;
        margin: 0 auto 0px auto;
    }

    .advantages {
        display: block;
        flex-direction: column;
    }

    .advantage-1 {
        margin: 0 auto;
    }

    .advantage-2 {
        margin: 0 auto;
    }

    .advantage-3 {
        margin: 0 auto;
    }

    .adv-item {
        padding-bottom: 80px;
    }
}


/* 320px - 576px */
@media screen and (max-width: 576px) {

    .container {
        width: 100%;
    }

    .header {
        padding-top: 20px;
    }

    .logo {
        padding: 20px 0px 0px;
    }

    .offer {
        padding-top: 40px;
        width: 80%;
    }

    .title {
        padding-top: 0px;
        font-size: 25px;
    }

    .intro {
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    .desktop {
        width: 100%;
    }

    .dream {
        line-height: 0.7em;
    }

    .adv-item {
        padding-bottom: 80px;
    }
}